:root {
  --primary-color: #fff;
  --secondary-color: #292929;
  --accent-color: #ff7f50; /* Lighter shade of orange */
  --background-color: #f0f0f0;
  --font-size-large: 6.875rem; /* 110px */
  --font-size-medium: 1.25rem; /* 20px */
  --font-size-small: 1.1875rem; /* 19px */
  --line-height-large: 8.125rem; /* 130px */
  --gap-large: 3.125rem; /* 50px */
  --gap-medium: 1.4375rem; /* 23px */
  --gap-small: 1.875rem; /* 30px */
  --border-radius-large: 3.75rem; /* 60px */
  --border-radius-small: 0.9375rem; /* 15px */
}

body {
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
}

.hero {
  margin: 0 7.5rem; /* 120px */
  margin-top: 23.9rem; /* 270px */
}

.hero-text {
  color: var(--primary-color);
  font-size: 85px;
  font-weight: 500;
  line-height: var(--line-height-large);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.hero-explore {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
  width: fit-content;
  margin-top: 4.375rem; /* 70px */
  padding: 0.3125rem 0.5rem; /* 5px 8px */
  padding-left: 1.875rem; /* 30px */
  border-radius: var(--border-radius-large);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-explore:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

.hero-explore p {
  color: var(--secondary-color);
  font-size: var(--font-size-medium);
  font-weight: 500;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 5px;
}

.hero-dot-play {
  margin-top: 7.5rem; /* 120px */
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
  list-style: none;
  margin-bottom: 60px;
}

.hero-dot {
  width: var(--border-radius-small);
  height: var(--border-radius-small);
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.hero-dot:hover {
  background: var(--accent-color);
  transform: scale(1.2);
}

.hero-dot.orange {
  background: var(--accent-color);
}

.hero-play {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.hero-play p {
  color: var(--primary-color);
  font-size: var(--font-size-small);
}
.play-music {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 26px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
  outline: none;
}

.play-music:focus {
  outline: none;
}
.play-music:active {
  transform: scale(0.95);
}
