.explore-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0; /* Remove any gap between the items */
}

.explore-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.overlay-text {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.overlay-text h1 {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.overlay-text .details {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 5px 0;
  text-align: center;
}
.overlay-text .price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.explore-item {
  position: relative;
  margin-right: 500px;
  margin-left: 600px;
  bottom: 800px;
  width: 30%;
}
.overlay-text .vector-overlay {
  position: static;
  top: 0;
  left: 0;
  margin: 5px -480px;

  pointer-events: none;
}
